-i https://pypi.org/simple/
beautifulsoup4==4.4.0
blinker==1.4
certifi==2019.9.11
chardet==3.0.4
idna==2.7
jinja2==2.8
markupsafe==0.23
pathlib==1.0.1
psutil==3.2.1
pygments==2.0.2
requests==2.20.0
termcolor==1.1.0
unipath==1.1
urllib3==1.24.3
